html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background-color: white;
}
input {
  display: block;
  margin: 1em auto;
  width: 225px;
}
img, canvas {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
canvas {
  opacity: 0.6;
  mix-blend-mode: hard-light;
}
